aclocal.m4
autom4te*.cache
configure
config.h*
confdefs.h
config.status
libtool
stamp-h*

Makefile
Makefile.in
.deps
.libs
.dirstamp

test-driver
*.log
*.trs

tests/*.out

*.o
*.a
*.so
*.lo
*.la

capn-test
capnpc-c
c-capnproto.pc

*.tar.gz
